
<footer>
    <div id="logoConFooter">
        <a href="/" class="title"><img src="/assets/images/Logo.png" alt="Logo" id="logofooter">Pizza Gusto</a>
    </div>
    <div id="marker">
         &copy; 2025 Pizza Gusto
    </div>
    <div id="contact">
        <ul>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/bestel">Menu</a></li>
        </ul>
        
   
    </div>
    
</footer>