
<footer>
    <a href="/" >
                <img src="/assets/images/Logo.png" alt="Logo"  id="logofooter">
    </a>
    <a href="/" id="title" >Pizza Gusto</a>
    <ul>
        <li><a href="/contact">contact</a></li>
        <li><a href="/bestel">Menu</a></li>
    </ul>
    <ul>
        <li>Tel: 012 345 6789</li>
        <li>Email: info@example.com</li>
        
    </ul>
    &copy; 2025 Pizza Gusto
    
</footer>