
<footer>
    
    <div id="logoConFooter">
        <a href="/" class="title"><img src="/assets/images/Logo.png" alt="Logo" id="logofooter">Pizza Gusto</a>
    </div>
    
    <div id="contact">
        <ul>
            <li><a href="/bestel">Menu</a></li>
            <li><a href="/contact">Contact</a></li>            
            <li><a href="/login">Login</a></li>

        </ul>           
    </div>
    <div id="marker">
         &copy; 2025 Pizza Gusto
    </div>
</footer>
</body>
</html>