<!DOCTYPE html>
<%- include('partials/header') %>

<main>
  <h1>Admin Pagina</h1>

  <div id="adminoverview">
    <section id="order-overview">
      <h1>Order overview</h1>

      <ul id="orders">
        <li class="order">
          <div class="orderdata">
            <h3 class="name">naam besteller</h3>
            <h3 class="date">datum order - uur order</h3>
          </div>

          <ul class="pizzadata">
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>

            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
          </ul>
        </li>

        <li class="order">
          <div class="orderdata">
            <h3 class="name">naam besteller</h3>
            <h3 class="date">datum order - uur order</h3>
          </div>

          <ul class="pizzadata">
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>

            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
            <li class="item">
              <p class="pizza">pizza name</p>
              <p class="price">prijs pizza</p>
            </li>
          </ul>
        </li>
      </ul>
    </section>
    <section id="user-overview">
      <h1>User overview</h1>
      <ul id="users">
        <li class="user">
            <h2 class="name">"naam" - "achternaam"</h2>
            <h2 class="email">email: "email"</h2>
            <h2 class="location">adres: "adres"</h2>
            <h2 class="completed-orders">aantal orders volbracht: "counter"</h2>
        </li>
        <li class="user">
            <h2 class="name">"naam" - "achternaam"</h2>
            <h2 class="email">email: "email"</h2>
            <h2 class="location">adres: "adres"</h2>
            <h2 class="completed-orders">aantal orders volbracht: "counter"</h2>
        </li>
        <li class="user">
            <h2 class="name">"naam" - "achternaam"</h2>
            <h2 class="email">email: "email"</h2>
            <h2 class="location">adres: "adres"</h2>
            <h2 class="completed-orders">aantal orders volbracht: "counter"</h2>
        </li>
        <li class="user">
            <h2 class="name">"naam" - "achternaam"</h2>
            <h2 class="email">email: "email"</h2>
            <h2 class="location">adres: "adres"</h2>
            <h2 class="completed-orders">aantal orders volbracht: "counter"</h2>
        </li>
        <li class="user">
            <h2 class="name">"naam" - "achternaam"</h2>
            <h2 class="email">email: "email"</h2>
            <h2 class="location">adres: "adres"</h2>
            <h2 class="completed-orders">aantal orders volbracht: "counter"</h2>
        </li>
        <li class="user">
            <h2 class="name">"naam" - "achternaam"</h2>
            <h2 class="email">email: "email"</h2>
            <h2 class="location">adres: "adres"</h2>
            <h2 class="completed-orders">aantal orders volbracht: "counter"</h2>
        </li>
        
      </ul>
    </section>
    <section id="pizza-overview">
      <h1>Pizza overview</h1>
    </section>
  </div>
</main>
<%- include('partials/footer') %>
