<%- include('partials/header') %>

    <main>
        <h1>Betaling gelukt</h1>
        <p>Bedankt voor je bestelling!</p>
        <a href="/bestel">Ga terug naar het menu</a>
    </main>

    <%- include('partials/footer') %>