<%- include('partials/header') %>
<body class="with-aside">
  <main>
    <section id="contactCard">
      <h1>Contacteer ons</h1>
      <section class="contact">
        
        <div id="gegevens_con">
          <article id="adres_con">
            <h2>Adres</h2>
              <h3>Ellermanstraat 33, 2060 Antwerpen</h3>
          </article>
          <article id="contact_con">
            <h2>Bel ons</h2>
            <ul>
              <li>Telefoon: 012 345 6789</li>
              <li><a href="mailto:someone@example.com">Email: info@example.com</a></li>
            </ul>
          </article>
        </div>
        <div id="map"></div>
        <div id="openingUren_con">
          <article>
            <h2>Openingsuren</h2>
            <ul>
              <li><span>Maandag</span><br>GESLOTEN</li>
              <li><span>Dinsdag - Donderdag</span><br>12:00 - 21:00</li>
              <li><span>Vrijdag - Zondag</span><br>12:00 - 22:00</li>
            </ul>
          </article>
      </section>
    </section>
  </main>

  <script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
  ></script>
  <script src="/js/map.js"></script>
  <%- include('partials/footer') %>
</body>
