<%- include('partials/header') %>

<main>
  <div id="login-div">
    <div class="login_div">
      <h2>Inloggen</h2>
      <h3>Geen account? <a href="/register">Registreren</a></h3>
    </div>

    <form action="/login" method="post">
      <label for="log-email"></label>
      <input
        type="email"
        name="email"
        placeholder="Uw emailadres"
        id="email"
        required
      />

      <label for="password"></label>
      <input
        type="password"
        name="password"
        placeholder="Wachtwoord"
        id="password"
        required
      />

      <!-- <div class="checkbox-group">
        <input type="checkbox" id="remember" name="remember" />
        <label for="remember">Ingelogd blijven</label>
      </div> -->

      <button type="submit">Inloggen</button>
    </form>
  </div>
</main>
<%- include('partials/footer') %>
