/*Main*/
main {
  display: flex;
  flex-direction: column;
}
/*Intro*/
#intro {
  width: 99vw;
  display: flex;
  height: 50rem;
  align-items: center;
  background-image: url(/assets/images/Marco_Donatelli.png);
  background-size: cover;
  background-position: -10% 45%;
  #overMarco {
    padding: 0 2rem;

    p {
      color: var(--color-light-bg);
      padding: 1rem 0;
      width: 25rem;
      word-wrap: normal;
    }

    .anchor {
      text-align: center;
      position: relative;
      background: var(--primary-color);
      color: var(--color-light-bg);
      border: none;
      padding: 8px 12px;
      border-radius: 2rem;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
    }
  }
}

/*topsellers*/

/*doos van de bestsellers*/
.highlights {
  display: flex;
  flex-flow: column;
  align-self: center;
  max-width: 100%;
  h1 {
    text-align: center;
    margin: 15px 0 15px 0;
  }
  /*div element grid met een repeat om de items naast elkaar te krijgen*/
  #topitems {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-medium);
    article {
      background-color: var(--color-beige);
      border-radius: var(--border-radius-large);
      border: solid var(--color-green-dark);
    }
  }
  border-bottom: solid var(--color-green-dark) 2px;
  padding-bottom: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
}

/*bestsellers*/
.topitem {
  height: auto;
  display: flex;
  flex-flow: column;

  align-items: center; /*elk element centreren*/

  .topitemButton {
    text-align: center;
    width: 10rem;
    position: relative;
    background: var(--primary-color);
    color: var(--color-light-bg);
    border: none;
    padding: 8px 12px;
    margin: 0.75rem 0;
    border-radius: 2rem;
    cursor: pointer;
    text-decoration: none;
  }
}

.topitem img {
  margin: 0.75rem;
  height: 25rem;
  border-radius: 4%;
}

/*Reviews*/
#review {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;

  border-bottom: solid var(--color-green-dark) 2px;
  padding-bottom: 4rem;
  margin-bottom: 4rem;
  #reviewItems {
    display: flex;
    flex-direction: row;
  }
  #reviewItems {
    display: flex;
    gap: var(--spacing-medium);
    .reviewItem {
      background-color: var(--color-beige);
      border-radius: var(--border-radius-large);
      border: solid var(--color-green-dark);

      .profilePic {
        border-radius: 60rem;
        height: 5rem;
      }

      h2 {
        display: flex;
        align-items: center;
        gap: var(--spacing-medium);
      }

      p {
        max-width: 27rem;
        font-size: 1rem;
      }
      h2,
      p {
        padding: 1rem 0.75rem;
      }
    }
  }
}

/* over mij deel*/

.aboutUs {
  min-width: var(--section-max-width);
  display: flex;
  flex-direction: column;
  align-self: center;
  h1 {
    text-align: center;
  }
  #verhaal {
    display: flex;
    gap: var(--spacing-medium);
    img {
      width: 20rem;
      margin: 10px auto auto 0;
      border-radius: 2%;
    }
    p {
      max-width: 45rem;
    }
  }
}

.highlights,
.middensection,
.aboutUs,
.reviews {
  border-bottom: solid var(--color-green-dark) 2px;
  padding-bottom: 40px;
  margin: 0 auto;
  margin-bottom: 40px;
}

button:hover,
.topitemButton:hover,
#intro #overMarco .anchor:hover,
.anchor:hover { 
  background-color: var(--color-green-dark);
  transform: scale(1.05);
}

button:active,
.topitemButton:active,
#intro #overMarco .anchor:active,
.anchor:active { 
  transform: scale(0.95);
}

@media screen and (max-width: 1100px) {
  #intro {
    height: 30rem;
    flex-direction: column;
    justify-content: flex-end;
    #overMarco {
      margin-left: 10px;
      margin-bottom: 20px;
      padding: 0;
      max-width: 100%;
      p {
        width: auto;
      }
    }
  }
  #topitems {
    overflow-x: scroll;
    padding-left: 10px;
    padding-right: 10px;
  }
  .topitem img {
    margin: 0.75rem;
    height: 16rem;
    border-radius: 4%;
  }
  #review {
    max-width: 100%;
    #reviewItems {
      flex-grow: 2;
      max-width: 100%;
      overflow-x: scroll;
      padding-left: 10px;
      padding-right: 10px;
      .reviewItem {
        p {
          max-width: 18rem;
          font-size: 1rem;
        }
        h2 {
          gap: 1rem;
          margin-right: 4rem;
        }
      }
    }
  }

  .aboutUs {
    img {
      display: none;
    }
    p {
      font-size: 1rem;
      padding: 0 15px 0 15px;
    }
  }
}
