.login-div {
    background: var(--color-login-bg);
    padding: var(--spacing-medium);
    border-radius: 5%;
    width: 350px;
    margin: 50px auto;
}

.login-div h2 {
    text-align: center;
}

.login-div input {
    padding: 5px;
    margin: 1px 0 10px 0;
    border-radius: 6px;
}

.login-div label,
.login-div {
    display: block;
}

.checkbox-group {
    display: flex;
    align-items: baseline;
}

form {
    button {
        background: var(--primary-color);
        color: var(--color-light-bg);
        border: none;
        padding: 8px 40px;
        margin-top: 10px;
        border-radius: var(--border-radius-large);
        cursor: pointer;
        display: block;
        margin: 20px auto 10px auto;
    }
}
