#map {
    margin: 0 auto;
    height: 38vh;
    width: 60%;
    border-radius: var(--border-radius-large);
    border: solid var(--color-green-dark);
    box-shadow: 5px 8px 7px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1200px) {
#map {
    width: 80%;
}
}