:root{
    /* HUIDIGE KLEUREN EN FONTEN */
    --primary-color: #c40009;
    --secondary-color: #f7f6d7;
    --primary-font-family: Lobster;
    --secondary-font-family: lora;

    
   /* NIEUWE KLEUREN */
    --color-green-dark: #0d7b03; /* als hover effect */
    --color-grey-dark: darkslategrey;
    --color-light-bg: whitesmoke;
    --color-beige: beige; /* Toegevoegd: Achtergrondkleur menulist */
    --color-items-card: #f3f3e0;

    /* NIEUWE SPACING EN AFMETINGEN */
    --spacing-medium: 5rem;
    --border-radius-small: 4px;
    --border-radius-large: 13px;
    --border-radius-rounded: 75%; /* Voor profielfoto's */
    --section-max-width: 90%;
}