<%- include('partials/header') %>

<main>
    <h1>Contacteer ons</h1>
    <section class="contact-content">
        <div id="map"></div>

        <article>
            <h2>Adres</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Beatae obcaecati aliquam dolores cupiditate tempore ratione, quisquam architecto soluta eveniet dolorum quod repellat repellendus exercitationem, enim aliquid pariatur? Quam, error nostrum.</p>
        </article>
        <article>
            <h2>Openingsuren</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ut quae a voluptate officiis tenetur alias quos odit dolore, officia adipisci praesentium rem numquam iste deleniti culpa eveniet. Dolore, repellendus suscipit?</p>
        </article>
        <article>
            <h2>Bel ons</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sit delectus, vitae iste cum tenetur perferendis autem illo porro numquam, nam earum qui. Harum eos quos, delectus voluptatibus necessitatibus cum?</p>
        </article>
    </section>
</main>

 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
<script src="/js/map.js"></script>
<%- include('partials/footer') %>