
/*topsellers*/
.highlights{
    display: flex;
    flex-flow: row;
    gap: 20px;
    justify-content: space-between;
}

.topitem{
    max-width: 270px;
}

.topitem img{
    max-width: 270px;
    border-radius: 4%;
}

.topitem h2{
    margin: 10px auto 10px 0;
}

/*midden gebied*/
.middensection{
    display: flex;
    flex-flow: row;
    gap: 20px;
    justify-content: space-around;
}
.menu{
    width: 50%;
}
.menu h2, .menu p{
    margin-left: 5px;
}

.menu h2{
    font-size: 1.7rem;
    margin-bottom: 2px;
}

.menu p, .menulist p{
    font-size: 1.2rem;
    margin-top: 0;
    color:darkslategrey;
}




.menulist{
    margin-left: auto;
    margin-right: 0;
    padding: 30px;
    border: black solid 1px;
    border-radius: 2%;
    background-color:beige;
    width: 50%;
}

.menulist h1{
    text-align: center;
    width: 100%;
    border-bottom: black solid 2px;
}

.menulist p{
    margin-top: 0;
    
}

.pizzalist{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
    
}

.pizzalist span{
    font-weight: bold;
}

/* over mij deel*/

.aboutUs{
    display: flex;
    flex-flow: row;
    gap: 20px;
    justify-content: space-around;
}

.aboutUs h1{
    width: 100%;
}
.aboutUs img{
    max-width: 350px;
    margin: 10px auto auto 0;
    border-radius: 2%;
}
.aboutUs p{
    max-width: 60%;
}

/* reviewpart */
.reviews{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.reviews h1, .quote{
    width: 100%;
}

.reviewProfile{
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    border: solid 1px darkgrey;
    border-radius: 4%;
    margin: 10px;
    padding: 15px;
    width: 230px;
}

.reviewProfile img{
    border-radius: 50%;
    height: 20px;
    width: 20px;
    overflow:hidden;
    margin-right: 5px;
}

.highlights, .middensection, .aboutUs, .reviews{
    border-bottom: solid #0d7b03 2px;
    padding-bottom: 40px;
    margin-bottom: 40px;
}